$white: #fff;
$black: #161c24;
$light-grey: #c4cdd5;
$grey: #454f5b;
$stroke: #eaeaea;
$primary: #00999e;
$main: #4295e4;
$light-blue: #add7ff;
$red: #e44286;
$text-disable: #adadad;
$bg-light: #f2f8ff;
$bg-dark: #0d2436;
